@import "../../assets/styles/defalutMixins.scss";

@mixin flexGap3 {
    display: flex;
    gap: 3rem;
    // flex-wrap: wrap;
}

.navbar {
    // flex-wrap: wrap;
    // @include displayflex;
    background-color: rgb(201, 229, 252);
    padding: 20px;
    gap: 3rem;
display: grid;
grid-template-columns: 0.1fr 2fr 0.1fr;
g
    &__logo {
        img {
            height: 50px;
        }
    }

    &__contents {

        background-color: rgb(138, 146, 83);
        @include flexGap3;

        .menu {
            @include flexGap3;
            background-color: red;
        }

        .search {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 40%;
min-width: 250px;
            input {
                width: 100%;
                background-color: aquamarine;
            }
        }

        .icon {
            @include flexGap3;
            align-items: center;
            background-color: red;
        }
    }
}